@import "../../../variables.scss";

.note{
    width:100%;
    background-color: #fff;
    box-shadow: 0px 20px 40px rgba(77, 77, 77, 0.05);
    border-radius: 15px;
    display:flex;
    padding:20px;
    margin-bottom:20px;
}

.note .left{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.note .left img{
    width:30px;
    height:30px;
    border-radius: 5px;
    margin-bottom:10px;
}

.note .left .priority{
    color:$primary;
    font-size:14px;
}

.note .left .priority span{
    font-weight: 500;
}

.note .content{
    margin:0px 10px;
    flex:15;
}

.note .right{
    display:flex;
    flex-direction: column;
    justify-content:center;
    flex:1
}

.note .right a:nth-child(1){
    margin-bottom:10px;
}

.note .right a{
    background-color: $secondary;
    color:$primary;
    display: block;
    height:30px;
    width:30px;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size:18px;
    border-radius: 5px;
    visibility: hidden;
}

.note:hover .right a{
    visibility: visible;
}
